**/bin
**/Server.setting
**/Server.Designer.cs
**/Temp
**/test_Data
**/ProjectSettings
**/Tribe/LIbrary
**Tribe/ProjectSettings/
**/Tribe/Temp/
**/.vs/
**/Tribe.CSharpTests/obj/
**/Assets/Mesh/
**/Assets/Communication/
*.gitignore
*.meta
*.jpg
*.apk
*.exe
*.user
*.cache

