**/bin
**/Server.setting
**/Server.Designer.cs
**/Temp
**/test_Data
**/ProjectSettings
**/Tribe/LIbrary
**Tribe/ProjectSettings/
**/Tribe/Temp/
**/Unity/
**/Assets/Mesh/
*.gitignore
*.csproj
*.meta
*.jpg
*.apk
*.exe
*.user
*.cache
*.suo